/*外部大盒子*/
.box {
    width: 800px;
    height: 600px;
    position: relative;
    top: 50%;left: 50%;
    transform: translate(-50%);
    overflow: hidden;
    background: #F6D6FF;
    border:1px solid #3dff11;
}
.box a#loginout {
    position: absolute;
    width: 60px;
    height: 35px;
    line-height: 35px;
    text-decoration: none;
    top:0;
    right: 0;
    color:#EAF048;
    background-color: #82A6F5;
    text-align: center;
    font-weight: 700;
}
.box a#loginout:hover{
    color: #9FF048
}
/*内容区*/
#wrap-content {
    width: 600px;
    height: 450px;
}
#wrap-content #title {
    width: 100%;
    height: 35px;
}
#wrap-content #title h3 {
    height: 100%;
    margin: 0;
    padding-left: 10px;
    background-color: #9FF048;
    line-height: 35px;
    font-weight: 700;
}
#wrap-content #title span {
    color: #ff6d54;
}
#wrap-content .content {
    height: 415px;
    overflow-y: auto;
}
#wrap-content .content #msg {
    min-height: 415px;
}

#wrap-content .content #msg ul>li {
    margin: 20px 7px;
    padding: 0;
}

#wrap-content li {
    list-style: none;
    float: left;
}
#wrap-content p {
    margin: 0;
    padding: 0;
}
#wrap-content .content-left span,#wrap-content .content-right span {
    font-size: 14px;
    display: inline-block;
    height:20px;
    line-height: 20px;
}
#wrap-content .content-left span:nth-child(2),#wrap-content .content-right span:nth-child(1) {
    color:#ccc;
    font-size:12px;
}
#wrap-content .content-right span {
    float: right;
}
#wrap-content .content-left p,#wrap-content .content-right p {
    background: #abcdef;
    padding: 5px;
    line-height: 25px;
    border-radius: 5px;
    max-width: 200px;
    margin-top: 10px;
}
#wrap-content .content-right p {
    margin-top: 30px;
}
#wrap-content .content > ul > li {
    width: 100%;
    overflow-x: hidden;
}

#wrap-content .content-left li:first-child {
    max-width: 50px;
    min-width: 20px;
}

#wrap-content .content-left li:nth-child(2) {
    margin-top: -5px;
    margin-left: 20px;
}

#wrap-content .content-right {
    float: right;
    /*height: 60px;*/
}

#wrap-content .content-right li {
    float: right;
}

#wrap-content .content-right li:first-child {
    float: right;
    max-width: 50px;
    min-width: 20px;
}

#wrap-content .content-right li:nth-child(2) {
    float: right;
    margin-top: -5px;
    margin-right: 20px;
}
/*发送消息*/
#sendMsg {
    width: 600px;
    height: 150px;
    position: relative;
}
#sendMsg .emotion{
    border-top:1px #ccc solid;
    border-bottom:1px #ccc solid;
    height:30px;
    background: #EAF048;
    padding:0 5px;
}
#sendMsg .emotion #date_d {
    height: 25px;
    width: 100px;
    font-size:18px;
}
#sendMsg .emotion a {
    line-height: 25px;
    height: 25px;
    text-decoration: none;
}
#sendMsg .emotion a:hover {
    color: #ff4012;
}
#sendMsg form {
    margin: 0;
}
#sendMsg textarea {
    resize:none;
    width:100%;
    height:140px;
    font-size:18px;
    border:0;
    border-bottom:1px #ccc solid;
    box-sizing: border-box;
    padding: 5px;
    background-color: #EBF2FA;
}
#sendMsg #sendbtn{
    border: none;
    position: absolute;
    right:0;
    top: 120px;
    width: 100px;height: 30px;
    background:#84C0DF ;
    outline: none;
    color: white;
    border-radius: 5px;
}
#sendMsg #sendbtn:hover{
    background:#abcdef;
}
#sendMsg #tip {
    display:block;
    position: absolute;
    top: 50px;
    left: 50%;
    display: none;
    z-index: 9999;
    border:1px #f0f0f0 solid;
    width:180px;
    height:40px;
    line-height:40px;
    text-align:center;
    border-radius:5px;
    color:#666;
    font-weight:normal;
    box-shadow: 0px 5px 20px #ccc;
}
/*列表区*/
#listwrap {
    position: absolute;
    right:0;
    top: 0;
    width: 200px;
    height: 600px;
    background: #B8FFB8;
    opacity: 0.85;
    border: 1px solid #8fff27;
    border-top:0;
}
#listwrap #top {
    width: 100%;
    height: 35px;
    box-sizing: border-box;
    padding-right: 60px;
    background: #56A36C;
    line-height: 35px;
    text-align: center;
    color:#ffb5a1;
}
#listwrap #user-num {
    display: flex;
    height: 30px;
    line-height: 30px;
}
#listwrap #user-num>div {
    display: inline-block;
    flex: 1;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 1px solid #b0b0b0;
    border-left:0;
    border-right:0;
    cursor:pointer;
    background-color: #9FF048;
    color:#2E68AA;
    font-size: 18px;
}
#listwrap #user-num>div:hover {
    color: #5d40e0;
}
#listwrap #user-num>div:first-child {
    border-right: 0;
    border-left: 0;
}
#listwrap .boxlist {
    width: 100%;
    height: 535px;
    overflow-y:auto ;
}
#listwrap .boxlist>ul.user-list {
    width: 100%;
    box-sizing: border-box;
    min-height: 535px;
    list-style: none;
    padding: 20px 10px;
    white-space: nowrap;
}
#listwrap .user-list > li {
    height: 30px;
    margin-bottom: 10px;
    display:flex;
    align-items: center;
    /*justify-content: center;*/
}
#listwrap .user-list > li > a{
    width: 75%;
    height: 100%;
    display:flex;
    align-items: center;
    /*justify-content: center;*/
    text-decoration: none;
    font-weight: 700;
}
#listwrap .user-list > li>a span {
    margin-left: 12px;
    font-size:14px;
    color:blueviolet;
}
#listwrap .user-list > li > a:hover span{
    color: rgba(255, 12, 0, 0.93);
}
#listwrap .user-list > li .state {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left:10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
#listwrap .user-list > li #online {
    background-color: #0f0;
}
#listwrap .user-list > li #offline {
    background-color: #f00;
}
