@charset "utf-8";
body, html, input {
    font-family: "微软雅黑";
}
/*整个大盒子*/
.login-content {
    width: 300px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.95;
}
/*头像*/
#head {
    width: 300px;
    height: 95px;
    text-align: center;
    margin-bottom: 20px;
}
/*预览头像*/
#head span {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}
#head span > img {
    height: 100%;
    width: 100%;
}
/*注册按钮*/
#reg-btn {
    width: 200px;
    height: 40px;
    border: none;
    outline: none;
    background: rgb(82, 150, 208);
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 5px;
}
/*form下面的div*/
#reg-form div {
    position: relative;
    box-sizing: border-box;
    height: 40px;
    margin-bottom: 20px;
}
/*form下面的div的子元素span*/
#reg-form div  span {
    border-radius: 5px;
    width: 300px;
    height: 38px;
    background: #abcdef;
    position: absolute;
    left: 320px;
    top: 0;
    line-height: 38px;
    display: none;
    overflow: hidden;
    opacity: 0.7;
}
/*注册按钮*/
#reg-btn:hover {
    background: darkturquoise;
}
#reg-form #reg-head, #reg-form #reg-btn {
    color: white;
}
/*form下面的input*/
#reg-form input {
    box-sizing: border-box;
    width: 300px;
    height: 40px;
    border-radius: 5px;
    outline: none;
    border: 0.5px solid rgba(204, 204, 204, 0.8);
    letter-spacing: 1px;
    font-size: 1rem;
    text-indent: 0.8em;
    color: #C44F00;
}
/*选择头像div*/
#reg-form .headimg {
    position: relative;
    height: 40px;
    margin-bottom: 20px;
    border: 0.5px solid rgba(204, 204, 204, 0.8);
    border-radius: 5px;
    background-color: #fff;
    /*overflow: hidden;*/
}
/*显示input=file的内容的input=text*/
#reg-form .headimg  #filedval {
    position: absolute;
    left:0;
    top:0;
    margin-top:1px;
    height:37px;
    width: 70%;
    outline: none;
    border:0;
}
/*input=file*/
#reg-form .headimg #reg-head {
    position: absolute;
    right:0;
    top:0;
    width: 30%;
    color: #fff;
    text-indent: 20px;
    z-index: 2;
    opacity: 0; filter:Alpha(opacity=0);
    cursor: pointer;
}
#reg-form .headimg #reg-head:hover .instand{
    color: red;
}
/*input=file替身*/
#reg-form .headimg .instand {
    position: absolute;
    right: 0;
    top:0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 0.5px solid rgba(204, 204, 204, 0.8);
    height: 100%;
    width: 30%;
    z-index: 1;
}
/*验证码div*/
#reg-form .code {
    /*overflow: hidden;*/
    height: 40px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 0.5px solid rgba(204, 204, 204, 0.8);
    border-radius: 5px; ;
}
/*输入验证码input=text*/
#reg-form .code #getcode {
    float: left;
    width: 100px;
    height: 100%;
    margin-right:3px;
    border-left:0;
    border-top:0;
    border-bottom:0;
    border-radius: 5px 0 0 5px;
}
/*验证码图片*/
#reg-form .code img {
    border:0;
    float: left;
    display: inline-block;
    vertical-align: middle;
    margin-top:1px;
}
/*看不清，换一张*/
#reg-form .code label {
    display: inline-block;
    float: right;
    height: 100%;
    width: 90px;
    line-height: 40px;
    border-left:0.5px solid rgba(204, 204, 204, 0.8);
    cursor: pointer;
}
/*
#mask {
    width: 100%;
    height: 42px;
    position: absolute;
    top: 40px;
    z-index: 3;
    background: #003147;
}
*/